/* @theme a4-dark */

@import 'base';

/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

/* A4 by stanfrbd */

section {
    width: 21cm;
    height: 29.7cm;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: stretch;
    background: #202228;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 20px;
    justify-content: left;
    text-align: justify;
    padding: 30px 70px;
}


/* Add "Page" prefix and total page number */

section::after {
    content: attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

pre {
    border: 1px solid #999;
    line-height: 1.15;
    overflow-x: auto;
    background-color: #0a0a0a;
    padding: 0.6em;
}

code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #abb2bf;
    overflow-x: auto;
}

a {
    color: #50b3ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2 {
    color: lightblue;
}

blockquote {
    color: #f8b878;
    padding: 0 1em;
    border-left: 0.25em solid#f8b878;
}

blockquote>:first-child {
    margin-top: 0;
}

blockquote>:last-child {
    margin-bottom: 0;
}

header,
footer {
    text-align: center;
    font-size: 18px;
    color: #ffcff1;
}

header {
    top: 21px;
}

footer {
    bottom: 21px;
}

table {
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    color: black;
}

table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: center;
    margin: 0;
    padding: 6px 13px;
}

table tr td {
    border: 1px solid #cccccc;
    text-align: center;
    margin: 0;
    padding: 6px 13px;
}

table tr th :first-child,
table tr td :first-child {
    margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
    margin-bottom: 0;
}
